<div style="
    display: inline-block;
    width: 40%;
    margin-right: 10%;
">
    <h2 id="research-interests">Research Interests</h2>
    <ul>
        <li>Immersive Multimedia</li>
        <li>Data Analysis and Vizualization</li>
        <li>Internet of Things</li>
        <li>Machine Learning</li>
    </ul>
</div>
<div style="
    display: inline-block;
    width: 50%;
">
    <h2 id="education">Education</h2>
    <ul style="list-style-type: none;">
        <li><i class="fa fa-fw fa-university" aria-hidden="true"></i>&nbsp; Msc Computer Science, 2016 - Current
            <ul style="list-style-type: none;">
                <li><a href="http://eic.cefet-rj.br/ppcic/?lang=en">CEFET/RJ</a></li>
            </ul>
        </li>
        <li><i class="fa fa-fw fa-university" aria-hidden="true"></i>&nbsp; Bsc Information Systems, 2016
            <ul style="list-style-type: none;">
                <li><a href="http://unilasalle.edu.br/rj/">Unilasalle-RJ</a></li>
            </ul>
        </li>
    </ul>
</div>